:root {
	--vp-c-brand-1: #e67e22;
	--vp-c-brand-2: #de620f;
	--vp-c-brand-3: #d35400;
	--vp-code-color: #444;
	--vp-home-hero-name-color: transparent;
	--vp-home-hero-name-background: -webkit-linear-gradient(
		90deg,
		#ff5d13,
		#f0db4f
	);
}

.dark {
	--vp-code-color: #e0e0e0;
}
